<h1>Lista de Productos</h1>

<ul>
  {{#each products}}
    <li>
      PRODUCTO: {{this.title}} - PRECIO: ${{this.price}} - STOCK:{{this.stock}}
    </li>
  {{/each}}
</ul>

<a href="/realtimeproducts">Ir a productos en tiempo real</a>
